name: Playwright Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Install dependencies
      run: pnpm ci
    - name: Install Playwright Browsers
      run: pnpx playwright install --with-deps
    - name: Start services
      run: pnpm start:proxy
      // start the local app (Whichever that is)
      // start the proxy server
    - name: Run Playwright tests
      run: pnpx playwright test
    - uses: actions/upload-artifact@v3
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
